.page-not-found-c{
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.error-404{
    color: #f95959;
    font-size: 6rem;
}
.error-message{
    color: #fff;
    font-size: 3rem;
    margin-bottom: 20%;
}

@media screen and (max-width:800px) {
    .error-404{
        font-size: 4rem;
    }
    .error-message{
        font-size: 2rem;
    }
}

@media screen and (max-width:540px) {
    .error-404{
        font-size: 2.2rem;
    }
    .error-message{
        font-size: 1.2rem;
    }
}
