.page-index-buttons{
    margin: 2rem 0;
}

.page-index-btn,.page-index-btn-prev,.page-index-btn-next{
    font-size: 2rem;
    padding: 0 .5rem;
    margin: 0 .2rem;
    background-color: #fff;
    color: #00204a;
    border: none;
    border-radius: 1%;
    cursor: pointer;
    border-radius: 25%;
}

.page-active{
    background-color: #005792;
    color: #fff;
}
.page-index-btn:hover{
    
}

.page-index-btn-prev{
    transform: skewX(-10deg);
    border-radius: 0%;
    margin-right: .5rem;
    
}

.page-index-btn-next{
    transform: skewX(-10deg);
    border-radius: 0%;
    margin-left: .5rem;
    
}
